- badge_link = badge_url(report.param_opts.merge(variant: variant))
- flat_badge = badge_link + "?style=flat"
- flat_square_badge = badge_link + "?style=flat-square"
- url = report_url(report)
#badge-modal-toggle.text-right{"data-toggle" => "modal", "data-target" => "#badge-modal-#{variant}"}
  = image_tag flat_square_badge
.modal.fade{id: "badge-modal-#{variant}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4.modal-title
          Add a badge to your README.
      .modal-body
        %ul.nav.nav-pills
          %li.active
            = link_to "Classic", "#badge-tab-#{variant}-0", role: "tab", data: {toggle: "tab"}
          %li
            = link_to "Flat", "#badge-tab-#{variant}-1", role: "tab", data: {toggle: "tab"}
          %li
            = link_to "Flat-Square", "#badge-tab-#{variant}-2", role: "tab", data: {toggle: "tab"}

        .tab-content
          - [badge_link, flat_badge, flat_square_badge].each_with_index do |link, index|
            - clazz = index == 0 ? "tab-pane active" : "tab-pane"
            %div{id: "badge-tab-#{variant}-#{index}", class: clazz}
              .text-center
                = image_tag link
              %h4 HTML
              %p
                - value = "<a href=\"#{url}\"><img src=\"#{link}\" /></a>"
                %input.form-control{type: "text", value: value}

              %h4 Markdown
              %p
                - value = "[![Issue Stats](#{link})](#{url})"
                %input.form-control{type: "text", value: value}

              %h4 Textile
              %p
                - value = "\"!#{link}!\":{url}"
                %input.form-control{type: "text", value: value}

              %h4 RDOC
              %p
                - value = "{<img src=\"#{link}\" />}[#{url}]"
                %input.form-control{type: "text", value: value}

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
