.table-responsive
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Github Repository
        = sortable_header :pr_close_time, title: "Time to Close Pull Requests"
        = sortable_header :issue_close_time, title: "Time to Close Issues"
        = sortable_header :issues_count, title: "Closed Issues"
        = sortable_header :stargazers_count, title: "Stars"
        = sortable_header :forks_count, title: "Forks"
        = sortable_header :size
        %th
          = render partial: "select_language"
    %tbody
      - @reports.each do |report|
        %tr
          %td= link_to report.github_key, report_path(report)
          %td= distance_of_time_in_words report.pr_close_time
          %td= distance_of_time_in_words report.issue_close_time
          %td= report.issues_count
          %td= report.stars
          %td= report.forks
          %td= report.size
          %td= report.language

.text-center
  = will_paginate @reports, renderer: BootstrapPagination::Rails