.table-responsive
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Github Repository
        = sortable_header :median_close_time, title: "Median Time to Close an Issue",
          link_opts: {class: "plain-link-underlined"}
        = sortable_header :issues_count, title: "Total Issues",
          link_opts: {class: "plain-link-underlined"}
        %th Issues
        %th Pull Requests
    %tbody
      - @reports.each do |report|
        %tr
          %td= link_to report.github_key, report_path(report)
          %td= distance_of_time_in_words report.median_close_time
          %td= report.issues_count
          %td= report.issues_distribution.values.inject(0, &:+)
          %td= report.pr_distribution.values.inject(0, &:+)

.text-center
  = will_paginate @reports, renderer: BootstrapPagination::Rails