%h2
  = link_to "https://github.com/#{@github_key}", class: "plain-link", target: "_blank" do
    = fa_icon "github", text: @github_key
  - if @report.ready?
    %small
      = @report.issues_count
      Closed Issues
    = duration_with_style(@report.median_close_time)

%br
%br

- if @report.ready?
  = response_distribution_chart @report

- else
  = debug @report
  %h1.text-center Hang Tight!
  %p.text-center.text-warning We're fetching some data for this repository. Check back in a minute or two.

.text-center
  %small
    Last updated
    = time_ago_in_words @report.updated_at
    ago

%br
%br


