- content_for(:title) { @github_key }
%h2
  = link_to "https://github.com/#{@github_key}", class: "plain-link", target: "_blank" do
    = fa_icon "github", text: @github_key
  - if @report.ready?
    %small
      = @report.language

    .pull-right
      = render partial: "badge_modal", locals: {report: @report, variant: "pr"}
      = render partial: "badge_modal", locals: {report: @report, variant: "issue"}
    %br
    - if @report.description
      %br
      %br
      %p.small= @report.description

%br

- if !@report.ready?
  = debug @report if Rails.env.development?
  %h1.text-center Hang Tight!
  %p.text-center.text-warning We're fetching some data for this repository. Check back in a minute or two.

- else

  = render partial: "stats", locals: {report: @report}

  %br

  .well
    = response_distribution_chart @report

  %br
  %br

  #markdown-container.well
    .text-center
      %h1
        = fa_icon "refresh", text: "Fetching README", class: "fa-spin"

  :javascript
    fetchReadme(#{raw @report.to_json})

.text-center
  - if @report.last_enqueued_at
    %small
      = fa_icon "refresh", class: 'fa-spin'
      %span.text-warning
        Enqueued to be updated
        = time_ago_in_words @report.last_enqueued_at
        ago
      = fa_icon "refresh", class: 'fa-spin'
  - else
    %small
      Updated
      = time_ago_in_words @report.updated_at
      ago
  - if !@report.last_enqueued_at || (@report.last_enqueued_at < 1.hour.ago)
    %br
    = link_to report_path(@report), method: :put, remote: true, id: "refresh-report" do
      = fa_icon "refresh"
      %span#refresh-text refresh
