  !!!
  %html

    %head
      %title
        - if content_for? :title
          = yield(:title)
          = " - "
        New Application
      %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
      %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
      = stylesheet_link_tag "application"
      = javascript_include_tag "application"
      = csrf_meta_tag
      = favicon_link_tag
      = yield(:head)

    %body
      = yield
