!!!
%html

  %head
    %title
      - if content_for? :title
        = yield(:title)
        = " - "
      Issue Stats
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400,700", "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = favicon_link_tag
    = yield(:head)
    = analytics_init if Rails.env.production?

  %body
    .navbar.navbar-default{role: "navigation"}
      .container
        .navbar-header
          %a.na
          %a.navbar-brand{href: "/"}
            = fa_icon("bar-chart-o")
            Issue Stats
        %form#search.navbar-form.navbar-right{:role => "search"}
          .form-group.input-group
            .input-group-addon github.com/
            %input#search-input.form-control{:placeholder => ":owner/:repository", :type => "text"}
          %button.btn.btn-default{:type => "submit"} Submit
    = render partial: "layouts/welcome"
    .container
      = yield
    %br
    %hr
    %footer.footer.text-center
      %p.small
        Looking for more
        = succeed "?" do
          = link_to "interesting graphs and analysis", analysis_path

      Built by
      = link_to "Hank Stoever", "http://hankstoever.com", target: "_blank", class: "plain-link-underlined"
      = link_to fa_icon(:github), "https://github.com/hstove/issue_stats"
      = link_to fa_icon(:twitter), "https://twitter.com/heynky"
    %br
